DJANGO_ENV=local
DJANGO_DEBUG=true
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000
CORS_ALLOWED_ORIGINS=http://localhost:3000
ALLOWED_EMAIL_DOMAINS=
DB_ENGINE=postgres
POSTGRES_DB=retroapp4l
POSTGRES_USER=retroapp4l
POSTGRES_PASSWORD=retroapp4l
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
USE_IN_MEMORY_CHANNEL_LAYER=false